/* #00568c - Blue
#008e66 - Green
#ffffff - White
#cccccc - Grey
#00568c99 - Blue Fade
#008e6699 - Green Fade
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

}

h1 {
text-align: center;
}

h2 {
font-weight: bold;
font-size: 2em;
}

p {
    font-size: 1.2em;
}

blockquote {

}

table {

}

.hnav {

}

.hnav ul {

}

.hnav ul li {

}

.hnav a {

}

.hnav a:hover {

}

main {

}


.fnav {

}

.fnav ul {

}

.fnav ul li {

}

.fnav a {

}

.fnav a:hover {

}