/* #00568c - Blue
#008e66 - Green
#ffffff - White
#cccccc - Grey
#00568c99 - Blue Fade
#008e6699 - Green Fade
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
max-width: 100%;
}

h1 {
text-align: center;
color: #008e66;
font-weight: bold;
}

h2 {
font-weight: bold;
font-size: 2em;
}

p {
    font-size: 1.2em;
}

blockquote {

}

table {

}

.hnav {
background-color: #00568c;
min-height: 80px;
}

.hnav ul {
    display: block;
    text-align: center;

}

.hnav ul li {
    display: inline-block;
    width: 15%;
    list-style-type: none;
    margin-top: 2%;
}

.hnav a {
    color: #008e66;
    text-decoration: none;
}

.hnav a:hover {
color: #ffffff;
}

main {

}

main img {
    width: 100%;
}

#container {
    width: 80%;
    display: block;
    text-align: center;
    padding: 5% 0;
	margin: 0 auto;
    min-height: 800px;
    background-color: #cccccc;
}

.img {
    max-height: 200px;
    max-width: 400px;
}

.build {
    max-height: 600px;
    max-width: 800px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

input {
    height: 5em;
	width: 20em;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 1em;
	font-weight: bold;
	
}

.frmButton {
	width: 10em;	
}

footer {
    text-align: center;
    background-color: #cccccc;
}

.fnav {
    background-color: #00568c;
    min-height: 80px;
}

.fnav ul {
    display: block;
    text-align: center;
}

.fnav ul li {
    display: inline-block;
    width: 15%;
    list-style-type: none;
    margin-top: 2%;
}

.fnav a {
    color: #008e66;
    text-decoration: none;
}

.fnav a:hover {
    color: #ffffff;
}