/* #00568c - Blue
#008e66 - Green
#ffffff - White
#cccccc - Grey
#00568c99 - Blue Fade
#008e6699 - Green Fade
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
max-width: 100%;
}

h1 {
text-align: center;
color: #008e66;
font-weight: bold;
}

h2 {
font-weight: bold;
font-size: 2em;
}

p {
    font-size: 1.2em;
}

blockquote {

}

table {

}

.hnav {
background-color: #00568c;
min-height: 80px;
}

.hnav ul {
    display: block;
    text-align: center;

}

.hnav ul li {
    display: inline-block;
    width: 15%;
    list-style-type: none;
}

.hnav a {
    color: #008e66;
}

.hnav a:hover {
color: #ffffff;
}

main {

}

#container {
    width: 80%;
    display: inherit;
    text-align: center;
}


.fnav {
    background-color: #00568c;
    min-height: 80px;
}

.fnav ul {
    display: block;
    text-align: center;
}

.fnav ul li {
    display: inline-block;
    width: 15%;
    list-style-type: none;
}

.fnav a {
    color: #008e66;
}

.fnav a:hover {
    color: #ffffff;
}